# Flutter / Dart
.dart_tool/
.packages
pubspec.lock
build/
.idea/
.vscode/
*.iml
ios/Pods/
ios/Runner.xcworkspace/
android/.gradle
android/app/*.keystore
local.properties
.DS_Store

# Optional: hide Firebase files if you don't want them public
# ios/Runner/GoogleService-Info.plist
# android/app/google-services.json
